.App {
  text-align: center;
}
.contenedorProductos{
  margin-left: 15%;
  margin-right: 15%;


  display:grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%,20rem), 1fr));
}

.card {
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1); }
