.App {
  text-align: center;
}
.contenedorProductos{
  margin-left: 15%;
  margin-right: 15%;


  display:grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%,19rem), 1fr));
}

.card {
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1); }

.containerItemDetail{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 2vw;
  margin-right: 2vw;
}

.btnAgregarCarrito{
  display: inline-block;
  margin: 20px;
}

.cardDetail{
text-align: left;
padding: 30px;
}

.navBarStyle{
  height: 70px;
}
.navBarCategoryStyle{
  height: 40px;




}